#app {
  height: 100%;
}
@font-face {
  font-family: 'MonospaceNew';
  src: url('./vendor/fonts/monospace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'MonospaceNew';
}

.tokenPickerModal {
  max-width: 600px;
}

.tokenPickerModal .modal-content {
  width: 600px;
  height: 600px;
  max-height: 90vh;
  padding: 32px 22px;
  overflow: hidden;
}

.tokenPickerModal .modal-body {
  padding: 0px;
}

.identicon {
  border-radius: 50px;
}
